[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
pdbp = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
calculate_dof = "python3 calculate_dof.py"
calculate_dof_subject = "python3 calculate_dof_subject.py"
calculate_f_stop = "python3 calculate_f_stop.py"
